@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,body{
    overflow-x: hidden;
}
homecol3 {
    position: absolute;
    overflow-y: scroll;
    height: 100vh;
}

.container .profile {
    z-index: 1;
}
.navbar-expand-lg {
    z-index: 1200 !important;
    margin-top: 30px;
    border-radius: 50px;
    padding: 10px;
}

#vertical-line {
    height: 100%;
}
#Xena-Profile {
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

button {
    border-radius: 50px;
    padding: 10px;
}

h2 {
    font-family: 'Archivo Black', sans-serif;
}

#service-icon{
    font-size: 50px;
}

@media all and (max-width:769px) {
.main-image {
    position: relative !important;
}   
}

/* table, th, td {
    border:1px solid black;
  } */

#namelanding {
    padding-top: 50%;
    padding-bottom: 80px;
}

i {
    font-size: 50px;    
}

#navbar {
    background: black;
    opacity: 0.5;
    width: 90%;
}

.progressbar {
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}
button {
    border: none;
}
button :hover {
    color: white;
}

#links {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 30px;
}

input {
    border-radius: 50px;
    height: 30px;
}